* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: 'Noto Serif', serif;
        -webkit-font-smoothing: antialiased;
        text-align: center;
}

h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 400;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      margin: 0;
    }

#piano-keys {
    background-color: white;
    height: 200px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 150px;
    font-size: 20px;
}
